@font-face {
    font-family: "Neutral Face";
    src: url("../fonts/NeutralFaceRegular.eot");
    src: local("Neutral Face"), local("NeutralFaceRegular"), url("../fonts/NeutralFaceRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeutralFaceRegular.woff2") format("woff2"), url("../fonts/NeutralFaceRegular.woff") format("woff"), url("../fonts/NeutralFaceRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neutral Face";
  src: url("../fonts/NeutralFaceBold.eot");
  src: local("Neutral Face Bold"), local("NeutralFaceBold"), url("../fonts/NeutralFaceBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeutralFaceBold.woff2") format("woff2"), url("../fonts/NeutralFaceBold.woff") format("woff"), url("../fonts/NeutralFaceBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Default styles */
html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: "Neutral Face", sans-serif;
    background-color: #202020;
    color: #BFBFBF;
}

a {
    text-decoration: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Blocks @import "blocks/NameFile"; */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}

.logo__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 15px;
    border: 1px solid #BFBFBF;
    border-radius: 40px;
}

.logo__items img {
    width: 30px;
}

.header__link {
    margin-right: 32px;
}

.header__link:last-child {
    margin-right: 0;
}

.header__link img {
    width: 18px;
}

.menu-btn {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu-btn span {
    width: 20px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #BFBFBF;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5px;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
}

.menu__items {
    position: absolute;
    left: -100%;
    border-right: 1px solid #BFBFBF;
    width: 15%;
    height: 100%;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: left 0.8s ease;
    transition: left 0.8s ease;
}

.menu__items-open {
    left: 0%;
    -webkit-transition: left 0.8s ease;
    transition: left 0.8s ease;
}

.menu__items ul {
    padding-left: 0;
    list-style: none;
    padding-top: 25px;
    padding-left: 45px;
}

.menu__items ul li {
    margin-bottom: 20px;
}

.menu__items ul li a {
    color: #fff;
    text-decoration: none;
}

.main__section {
    padding-top: 72px;
    margin-bottom: 90px;
}

.main__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.main__item {
    position: relative;
}

.main__jaket {
    position: relative;
    background-color: #202020;
}

.main__jaket img {
    opacity: 0.2;
}

.main__txt {
    position: absolute;
    top: 2%;
    right: 50%;
}

.main__txt span {
    display: block;
    font-size: 145px;
    color: #BFBFBF;
    font-weight: 400;
    text-transform: uppercase;
}

.main__txt span:last-child {
    position: absolute;
    top: 75%;
    left: 23%;
}

.section__link {
    color: #BFBFBF;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 25px;
    border: 1px solid #BFBFBF;
    border-radius: 40px;
}

.section__link-main {
    padding: 8px 50px;
}

.section__link-link {
    font-size: 20px;
}

.new__colection {
    margin-bottom: 87px;
}

.colection__item {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.colection__item:last-child {
    margin-bottom: 0;
}

.colection__banner img {
    border-radius: 40px;
}

.catalog__menu {
    margin-bottom: 88px;
}

.catalog__menu__items ul {
    list-style: none;
}

.catalog__menu__link {
    text-align: center;
    border-bottom: 1px solid #BFBFBF;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.catalog__menu__link:last-child {
    border-bottom: none;
}

.catalog__menu__link a {
    font-size: 20px;
    color: #BFBFBF;
}

.running__line {
    margin-bottom: 86px;
    position: relative;
}

.line__elipse {
    display: block;
    margin: 0 auto;
    width: 295px;
    border-radius: 50%;
    border: 1px solid #BFBFBF;
}

.run__txt {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    color: #BFBFBF;
    font-size: 10px;
    overflow: hidden;
}

.who__we {
    margin-bottom: 78px;
    overflow: hidden;
}

.who__line__one {
    color: #303030;
    font-size: 76px;
    text-align: right;
    -webkit-animation: textRight 2s infinite alternate ease-in-out;
    animation: textRight 2s infinite alternate ease-in-out;
}

.who__line__one span:nth-child(2n) {
    color: #303030;
}

.who__line__one span:nth-child(2n+1) {
    color: #BFBFBF;
}

.who__line__two {
    color: #BFBFBF;
    font-size: 76px;
    -webkit-animation: textLeft 2s infinite alternate ease-in-out;
    animation: textLeft 2s infinite alternate ease-in-out;
}

.who__line__two span:nth-child(2n) {
    color: #303030;
}

.who__line__two span:nth-child(2n+1) {
    color: #BFBFBF;
}

.about {
    margin-bottom: 25px;
}

.about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about__item:last-child {
    margin-bottom: 26px;
}

.about__info {
    text-align: center;
    margin-bottom: 71px;
}

.about__title {
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-bottom: 27px;
    color: #BFBFBF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.about__title span {
    display: block;
    font-weight: 200;
}

.about__title span:first-child {
    text-align: left;
}

.about__desc {
    width: 450px;
    color: #BFBFBF;
    opacity: 0.5;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}

.main__link {
    margin-bottom: 90px;
}

.main__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main__links a {
    margin-right: 19px;
}

.section__banner {
    padding-top: 22px;
    padding-bottom: 40px;
}

.section__item {
    position: relative;
    background-color: #202020;
}

.section__image img {
    opacity: 0.5;
}

.section__title {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
}

.section__arrow {
    padding-bottom: 100px;
}

.arrow__item {
    display: block;
    text-align: center;
    -webkit-animation: arrowAnimate 1s infinite alternate ease-in-out;
    animation: arrowAnimate 1s infinite alternate ease-in-out;
}

@-webkit-keyframes arrowAnimate {
    0% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }

    100% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}

@keyframes arrowAnimate {
    0% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }

    100% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}

.about__txt {
    padding-bottom: 88px;
}

.txt__desc {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 20px;
    color: #bfbfbf;
    opacity: 0.5;
}

.about__elepse {
    margin-bottom: 47px;
}

.elepse__item {
    display: block;
    margin: 0 auto;
    position: relative;
    border: 1px solid #fff;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    -webkit-animation: ElepseBreath 5s infinite alternate ease-in-out;
    animation: ElepseBreath 5s infinite alternate ease-in-out;
}

.elepse__title {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    text-align: center;
    color: #BFBFBF;
    font-size: 20px;
}

@-webkit-keyframes ElepseBreath {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes ElepseBreath {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.project__years {
    overflow: hidden;
    margin-bottom: 137px;
}

.years__line__one {
    color: #BFBFBF;
    font-size: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.years__line__one span:nth-child(2n) {
    color: #BFBFBF;
}

.years__line__one span:nth-child(2n+1) {
    color: #303030;
}

.years__line__two {
    color: #BFBFBF;
    font-size: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: textLeft 2s infinite alternate ease-in-out;
    animation: textLeft 2s infinite alternate ease-in-out;
}

.years__line__two span:nth-child(2n) {
    color: #303030;
}

.years__line__two span:nth-child(2n+1) {
    color: #BFBFBF;
}

.about__product {
    margin-bottom: 54px;
}

.about__tovar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about__tovar:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.tovar__image {
    margin-right: 34px;
    position: relative;
    border: 1px solid #fff;
    width: 298px;
    height: 298px;
    border-radius: 50%;
    overflow: hidden;
}

.about__tovar:nth-child(2) .tovar__image {
    margin-right: 0;
    margin-left: 34px;
}

.tovar__text {
    width: 210px;
}

.tovar__title {
    color: #BFBFBF;
    font-size: 20px;
    font-weight: 400;
}

.tovar__desc {
    color: #BFBFBF;
    font-size: 10px;
    font-weight: 400;
}

.about__tovar:nth-child(2) .tovar__text {
    text-align: right;
}

.contact__banner {
    margin-top: 24px;
    margin-bottom: 47px;
}

.contact__title {
    color: #BFBFBF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 13px;
}

.contact__subtitle {
    color: #BFBFBF;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 62px;
}

.contact__socials {
    margin-bottom: 95px;
}

.social__item {
    text-decoration: none;
    margin-right: 12px;
}

.social__item i {
    font-size: 20px;
    color: #BEBEBE;
}

.contact__line {
    width: 100%;
    height: 1px;
    background-color: #BFBFBF;
    margin-bottom: 21px;
}

.contact__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.txt__item {
    color: #BFBFBF;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
}

.contact__footer {
    margin-bottom: 90px;
}

.delivery__info {
    margin-bottom: 85px;
}

.delivery__item {
    padding: 15px 0;
    border-bottom: 1px solid #BFBFBF;
}

.delivery__item:last-child {
    border-bottom: none;
}

.delivery__title {
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.delivery__subtitle {
    font-size: 18px;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.delivery__list ul {
    list-style-type: decimal;
}

.delivery__list ul li {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 20px;
    opacity: 0.7;
}

.faq__menus {
    margin-top: 90px;
}

.faq__accardion {
    margin-bottom: 88px;
}

.menus__items {
    padding-left: 0;
    padding: 18px 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #BFBFBF;
    margin: 0;
}

.menus__item a {
    font-size: 20px;
    text-decoration: none;
    color: #BFBFBF;
}

.accordion__item {
    border-top: 1px solid #BFBFBF;
    padding: 16px 0;
}

.accordion__item:last-child {
    border-bottom: 1px solid #BFBFBF;
}

.accordion {
    color: #BFBFBF;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
    text-transform: uppercase;
    background-color: #202020 !important;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
}

.accordion::after {
    content: "+";
    position: absolute;
    right: 0;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.panel p {
    color: #BFBFBF;
    font-size: 10px;
}

.cotalog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog__item-product {
    display: block;
    margin: 0 auto;
}

.catalog__menus ul {
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0 !important;
}

.catalog__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog__product {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 67px;
}

.catalog__product__link {
    text-decoration: none;
    color: #BFBFBF;
}

.catalog__title {
    font-size: 10px;
    opacity: 0.5;
    text-transform: uppercase;
    margin: 18px 0;
}

.catalog__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.catalog__price {
    font-size: 10px;
    text-transform: uppercase;
}

.catalog__colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog__color {
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-right: 4px;
}

.catalog__color-black {
    background-color: #101010;
}

.catalog__color-white {
    background-color: #D9D9D9;
}

.catalog__color-blue {
    background-color: #18256C;
}

.catalog__color:last-child {
    margin-right: 0;
}

.catalogs__menu {
    margin-top: 85px;
    margin-bottom: 26px;
}

.catalog__menus {
    padding-bottom: 34px;
    border-bottom: 1px solid #BFBFBF;
}

.catalog__menus ul li a {
    text-decoration: none;
    color: #BFBFBF;
    font-size: 20px;
    opacity: 0.5;
}

.catalog__filltre {
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.catalog__filltre-active {
    border-right: 1px solid #BFBFBF;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.filltre__btn {
    display: block;
    font-size: 10px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.filltre__btn-active {
    padding-bottom: 62px;
    border-bottom: 1px solid #BFBFBF;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.filltre__btn::after {
    content: "+";
    top: 5%;
    right: -40%;
    position: absolute;
}

.filltre__body {
    visibility: hidden;
    width: 0%;
}

.filltre__body-active {
    width: 100%;
    visibility: inherit;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.filltre__item-length {
    border-bottom: 1px solid #BFBFBF;
}

.filltre__title,
.filltre__subtitle {
    font-size: 10px;
}

.filltre__title {
    padding-top: 16px;
    padding-bottom: 9px;
}

.filltre__subtitle {
    opacity: 0.5;
    margin-bottom: 34px;
}

.filltre__dashboard__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;
}

.line__kind {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
}

.line__kind:last-child {
    padding-right: 16px;
}

.line__kind div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 9px;
}

.line__kind div:first-child {
    padding-left: 0;
}

.line__kind div input[type=radio] {
    display: none;
}

.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    cursor: pointer;
    line-height: 30px;
    background-color: #000;
    z-index: 1000000;
}

.custom-radio:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 50%;
}

.line__kind div input[type=radio]:checked + .custom-radio:before {
    background-color: #007bff;
    border-color: #007bff;
}

.line__kind div label {
    padding-top: 16px;
}

.catalog__sort-deactive {
    display: none;
}

.catalog__sort {
    font-size: 10px;
    font-weight: 400;
    position: relative;
}

.catalog__sort::after {
    content: "+";
    top: 5%;
    right: -20%;
    position: absolute;
}

.footer {
    background-color: #BFBFBF;
    padding-bottom: 25px;
    overflow: hidden;
}

.social__word {
    padding: 60px 0;
}

.word__line__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #202020;
    font-size: 76px;
    overflow: hidden;
    -webkit-animation: textRight 2s infinite alternate ease-in-out;
    animation: textRight 2s infinite alternate ease-in-out;
}

.word__line__one span:nth-child(2n) {
    color: #fff;
    margin-right: 70px;
}

.word__line__one span:nth-child(2n+1) {
    color: #202020;
}

.word__line__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    color: #fff;
    font-size: 76px;
    -webkit-animation: textLeft 2s infinite alternate ease-in-out;
    animation: textLeft 2s infinite alternate ease-in-out;
}

.word__line__two span:nth-child(2n) {
    color: #202020;
    margin-right: 70px;
}

.word__line__two span:nth-child(2n+1) {
    color: #fff;
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 75px;
}

.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social__image {
    margin-bottom: 15px;
}

.social__image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.social__link {
    position: relative;
    border-top: 1px solid #202020;
    border-bottom: 1px solid #202020;
    padding: 10px 0;
    width: 50%;
}

.social__link a {
    color: #202020;
    opacity: 0.5;
    font-size: 15px;
}

.social__link a:after {
    content: url(/assets/img/social/arrow.svg);
    position: absolute;
    right: 5%;
    opacity: 1;
}

.footer__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 25px;
}

.footer__logo {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.social__icon {
    margin-right: 10px;
}

.social__icon i {
    font-size: 25px;
    color: #202020;
}

.footer__menu ul {
    display: block;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    -webkit-columns: 3 auto;
    -moz-columns: 3 auto;
    columns: 3 auto;
}

.footer__menu ul li {
    padding: 5px 0;
}

.footer__menu ul li a {
    color: #202020;
    font-size: 10px;
}

.footer__menu ul li:nth-child(-n+3) {
    text-align: left;
}

.footer__menu ul li:nth-child(n+4):nth-child(-n+6) {
    text-align: center;
}

.footer__menu ul li:nth-child(n+7):nth-child(-n+9) {
    text-align: right;
}

.footer__line {
    background-color: #202020;
    height: 1px;
    margin: 18px 0;
}

.footer__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.desc__item span {
    display: block;
    color: #707070;
    opacity: 0.5;
    font-size: 10px;
}

@-webkit-keyframes textRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@keyframes textRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@-webkit-keyframes textLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}

@keyframes textLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
/* Vendor libs */