@font-face {
    font-family: "Neutral Face";
    src: url("../fonts/NeutralFaceRegular.eot");
    src: local("Neutral Face"), local("NeutralFaceRegular"), url("../fonts/NeutralFaceRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeutralFaceRegular.woff2") format("woff2"), url("../fonts/NeutralFaceRegular.woff") format("woff"), url("../fonts/NeutralFaceRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neutral Face";
  src: url("../fonts/NeutralFaceBold.eot");
  src: local("Neutral Face Bold"), local("NeutralFaceBold"), url("../fonts/NeutralFaceBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeutralFaceBold.woff2") format("woff2"), url("../fonts/NeutralFaceBold.woff") format("woff"), url("../fonts/NeutralFaceBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Default styles */
html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: "Neutral Face", sans-serif;
    background-color: #202020;
}

a {
    text-decoration: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Blocks @import "blocks/NameFile"; */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 17px;
    margin-bottom: 90px;
}

.header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 25px;
    border: 1px solid #BFBFBF;
    border-radius: 40px;
}

.logo__items img {
    width: 55px;
}

.header__link {
    margin-right: 32px;
}

.header__link:last-child {
    margin-right: 0;
}

.header__link img {
    width: 39px;
}

.header__menu i {
    color: #BFBFBF;
    font-size: 50px;
    margin-top: 20px;
}

.main__section {
    margin-bottom: 90px;
}

.main__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main__jaket {
    position: relative;
    background-color: #202020;
}

.main__jaket img {
    opacity: 0.2;
}

.main__txt {
    position: absolute;
    top: 5%;
    right: 50%;
}

.main__txt span {
    display: block;
    font-size: 90px;
    color: #BFBFBF;
    font-weight: 400;
    text-transform: uppercase;
}

.main__txt span:last-child {
    position: absolute;
    left: 25%;
}

.section__link {
    color: #BFBFBF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 30px;
    border: 1px solid #BFBFBF;
    border-radius: 40px;
}

.new__colection {
    margin-bottom: 90px;
}

.colection__item {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.colection__item:last-child {
    margin-bottom: 0;
}

.colection__banner img {
    width: 100%;
    border-radius: 40px;
}

.catalog__menu {
    margin-bottom: 90px;
}

.catalog__menu__items ul {
    list-style: none;
}

.catalog__menu__link {
    text-align: center;
    border-bottom: 1px solid #BFBFBF;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.catalog__menu__link:last-child {
    border-bottom: none;
}

.catalog__menu__link a {
    font-size: 20px;
    color: #BFBFBF;
}

.running__line {
    margin-bottom: 90px;
    position: relative;
}

.line__elipse {
    display: block;
    margin: 0 auto;
    width: 295px;
    border-radius: 50%;
    border: 1px solid #BFBFBF;
}

.run__txt {
    position: absolute;
    top: 50%;
    z-index: -1;
    color: #BFBFBF;
    font-size: 14px;
    overflow: hidden;
}

.who__we {
    margin-bottom: 90px;
}

.who__line__one {
    color: #303030;
    font-size: 76px;
    text-align: right;
}

.who__line__one span:nth-child(2n) {
    color: #303030;
}

.who__line__one span:nth-child(2n+1) {
    color: #BFBFBF;
}

.who__line__two {
    color: #BFBFBF;
    font-size: 76px;
}

.who__line__two span:nth-child(2n) {
    color: #303030;
}

.who__line__two span:nth-child(2n+1) {
    color: #BFBFBF;
}

.about {
    margin-bottom: 25px;
}

.about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about__info {
    text-align: center;
    margin-bottom: 70px;
}

.about__title {
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-bottom: 28px;
    color: #BFBFBF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.about__title span {
    display: block;
}

.about__title span:first-child {
    text-align: left;
}

.about__desc {
    width: 600px;
    color: #BFBFBF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.main__link {
    margin-bottom: 90px;
}

.main__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main__links a {
    margin-right: 19px;
}

.footer {
    background-color: #BFBFBF;
    padding-bottom: 25px;
}

.social__word {
    padding: 60px 0;
}

.word__line__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #202020;
    font-size: 76px;
    overflow: hidden;
}

.word__line__one span:nth-child(2n) {
    color: #fff;
    margin-right: 70px;
}

.word__line__one span:nth-child(2n+1) {
    color: #202020;
}

.word__line__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    color: #fff;
    font-size: 76px;
}

.word__line__two span:nth-child(2n) {
    color: #202020;
    margin-right: 70px;
}

.word__line__two span:nth-child(2n+1) {
    color: #fff;
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 75px;
}

.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social__image {
    margin-bottom: 15px;
}

.social__image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.social__link {
    position: relative;
    border-top: 1px solid #202020;
    border-bottom: 1px solid #202020;
    padding: 10px 0;
    width: 50%;
}

.social__link a {
    color: #202020;
    font-size: 15px;
}

.social__link a:after {
    content: url(/assets/img/social/arrow.svg);
    position: absolute;
    right: 5%;
}

.footer__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 25px;
}

.footer__logo {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.social__icon {
    margin-right: 10px;
}

.social__icon i {
    font-size: 25px;
    color: #202020;
}

.footer__menu ul {
    display: block;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    -webkit-columns: 3 auto;
    -moz-columns: 3 auto;
    columns: 3 auto;
}

.footer__menu ul li {
    padding: 5px 0;
}

.footer__menu ul li a {
    color: #202020;
    font-size: 15px;
}

.footer__menu ul li:nth-child(-n+3) {
    text-align: left;
}

.footer__menu ul li:nth-child(n+4):nth-child(-n+6) {
    text-align: center;
}

.footer__menu ul li:nth-child(n+7):nth-child(-n+9) {
    text-align: right;
}

.footer__line {
    background-color: #202020;
    height: 1px;
    margin: 18px 0;
}

.footer__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.desc__item span {
    display: block;
    color: #707070;
    font-size: 15px;
}

/* Vendor libs */